<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TECH CHAT_投稿画面</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <%= form_with(model: @question, local: true) do |form| %>
    <form class="question">
      <div>
        <%= form.text_field :title, placeholder: "タイトル" %>
      </div>
      <div>
        <%= form.text_area :content, placeholder: "質問内容", rows: "10" %>
      </div>
      <div>
        <%= form.text_field :name, placeholder: "投稿者名" %>
      </div>
      <div>
        <%= form.submit "POST" %>
      </div>
    </form>
    <% end %>
  </body>
</html>
